<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834968100386-g8ljk539pac1cplb4pdu93ntnlaj2ega.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834968100386-g8ljk539pac1cplb4pdu93ntnlaj2ega</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834968100386-blgr7nm5jchaerpm5qkvqbn2kd36p023.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZbxPdCE8070nLEsXoBWV3EdoIJyDgEz0</string>
	<key>GCM_SENDER_ID</key>
	<string>834968100386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akarProject</string>
	<key>PROJECT_ID</key>
	<string>akarproject-404a2</string>
	<key>STORAGE_BUCKET</key>
	<string>akarproject-404a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834968100386:ios:3d1578dc359e7a2064b47b</string>
</dict>
</plist>